*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  color: #2d2d2d;
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  background-color: #0a7dfa;
  color: white;
  &:focus {
    opacity: 0.7;
  }
}
.btn-success {
  background-color: #0afa66;
  color: white;
  &:focus {
    opacity: 0.7;
  }
}
.btn-warning {
  background-color: #fa3a0a;
  color: white;
  &:focus {
    opacity: 0.7;
  }
}
.btn-secondary {
  background-color: rgb(8, 244, 220);
  color: #094d95;
  &:focus {
    opacity: 0.7;
  }
}
.dark-grey {
  color: #2d2d2d;
  opacity: 0.8;
}
.light-grey {
  color: #2d2d2d;
  opacity: 0.5;
}
.violet {
  background-color: #f0f6ff;
}
.bg-light-grey {
  background-color: #ebeaed;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
.hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
button:disabled,
button[disabled] {
  cursor: not-allowed;
  opacity: 1;
  background-color: #cccccc;
  color: #666666;
}

button:hover:enabled,
button:active:enabled {
  opacity: 0.7;
}
